body {
    margin: 0;
    overflow: hidden; /* Hide scrollbars */
    background-color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
}

#mapBox {
    height: 100vh;
    background-color: #cca974;
    overflow: hidden;
}

#map {
    margin-top: -50vh;
    z-index: -999;
}

.error {
    /* display: none; */
    color: red;
    background-color: yellow;
    text-align: center;
}

label {
    font-weight: 600;
}

option,
select {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

option:hover,
select.hover {
    cursor: pointer;
}

form {
    text-align: center;
}

#searchBar {
    height: 8vh;
    width: 100vw;
    background-color: rgb(255, 255, 255, 0.7);
    display: flex;
    position: relative;
    padding: 10px;
    z-index: 999;
}



.button,
button {
    height: 8vh;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    border: 3px black solid;
    border-radius: 5px;
    padding: 5px;
    background-color: transparent;
    transition: all 0.3s ease-in;
}

.button:hover,
button:hover {
    font-weight: 600;
    box-shadow: none;
    background-color: antiquewhite;
    border-radius: 0;
    border-color: white;
    cursor: pointer;
}

#loading {
    display: none;
    margin-left: auto;
    margin-right: auto;
    /* background:white; */
    z-index: 9999;
    height: 60px;
    width: 60px;
    background-color: transparent;
    border: 7px solid gray;
    border-top-color: orange;
    border-radius: 50%;
    animation: 0.8s spin linear infinite;
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg); 
    }
}