body {
    height: 150%;
    margin: 5%;
    background: linear-gradient(antiquewhite, orange);

}
h1, h2 {
    text-align: center;
    font-weight: 100;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
a.budgetyourtrip-more-info-link {
    color: transparent !important;
}

.button,
button, #home {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    border: 3px black solid;
    border-radius: 5px;
    padding: 5px;
    background-color: transparent;
    transition: all 0.3s ease-in;
    margin-left: auto;
    margin-right: auto;
}

.button:hover,
button:hover, #home:hover {
    font-weight: 600;
    box-shadow: none;
    background-color: antiquewhite;
    border-radius: 0;
    border-color: white;
    cursor: pointer;
}

.flight {
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

ul {
    background: linear-gradient(rgb(255, 70, 70), transparent);
    border-radius: 6px;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}